:root{
    --color: #f6ff00;
    --spacing: 5px;
    --blue: 10px;
}
body {
    text-align: center;
    background: #193549;
  }
img{
    width: 99%;
    height: 90vh;
    padding: var(--spacing);
    background: var(--color);
    filter: blur(var(--blue));
}
input {
    width: 100px;
  }